* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    
}

.contacts-section {
    width: 20%;
    height: 70vh;
}

.contacts-section img {
    width: 60px;
    height: 60px;
}

.chat {
    display: flex;
    height: 10vh;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.button-chat {
    display: flex;
    height: 15vh;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.chat img {
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex: 1;
}

.new-chat {
    width: 150px;
    height: 55px;
    padding: 10px;
    margin-left: 100px;
    background-color: #25D366;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.main-section {
    flex: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.main-section img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

.main-section h2 {
    margin: 0;
}

.main-section p {
    color: #555;
}